body {
    font-family: Arial, sans-serif;
    background-color: #4b4c47;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    font-size: 40px; 
    font-weight: bold;
    color:#fefefe
  }
  
header {
    font-size: 28px;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    background-color: #5e5a5a;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
}
.hero {
    background: url('tom-aspinall-post-ufc-29511112023_bj02t40qu4k31k5oz60lbu9ne.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero img {
    max-width: 50%;
    border-radius: 10px;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.hero-content {
    max-width: 40%;
    text-align: left;
    padding-left: 40px;
}

.hero-content h1 {
    font-size: 48px;
    color: #959393;
    margin: 0;
}

.hero-content p {
    font-size: 20px;
    margin: 20px 0;
}

.about-section {
    display: flex;
    align-items: center;
    padding: 80px 50px;
    background-color: #444444;
}

.about-image {
    max-width: 50%;
    border-radius: 10px;
}

.about-content {
    max-width: 40%;
    padding-left: 40px;
}

.about-content h2 {
    font-size: 36px;
    color: #E0E0E0;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
}

.about {
    padding: 50px 20px;
}
